<div class="contents row">
  <%= form_tag('/tweets', method: :post) do %>
    <input type="integer" name="rough1" placeholder="税抜き見積もり１">
    <input type="integer" name="rough2" placeholder="税抜き見積もり２">
    <input type="integer" name="rough3" placeholder="税抜き見積もり３">
    <input type="submit" value="SEND">
  <% end %>
</div>